<!-- <ul>
    <li *ngFor="let product of products">
        <strong>{{ product.name }}</strong> - ₹{{ product.price }}<br>
        Category: {{ product.category }}<br>
        In Stock: {{ product.inStock ? 'Yes' : 'No' }}
      </li>
</ul> -->

<nav class="navbar navbar-light bg-light mb-3 px-5">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </nav>


  <ul class="list-group">
    <li *ngFor="let product of products" class="list-group-item">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="product.imageUrl" class="img-fluid rounded-start" style="height: 100%; object-fit: cover;" alt="{{ product.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">₹{{ product.price }}</p>
              <p class="card-text">Category: {{ product.category }}</p>
              <p class="card-text">In Stock: {{ product.inStock ? 'Yes' : 'No' }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  